body.container {
  padding-top: 70px;
  padding-bottom: 200px;
}

:root {
  scroll-behavior: auto;
}

p.card-text {
  white-space: pre-wrap;
  word-break: break-all;
}

body {
    background-color: rgb(235, 255, 241);
}